@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Mono:wght@100&display=swap');
:root {
    --font1: 'Roboto Mono', Courier, monospace;
}
* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header {
    padding-top: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

header > h1 {
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;

}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

section {
    padding-left: 30px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--font1), serif;
    font-weight: bold;
    font-size: 1.5em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
    
}

section.imagem {
    background-color: rgb(49, 49, 49);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.438);
    
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;

    
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    font-family: serif;
}